* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

@import "./static/styles/homepage.css";
@import "./static/styles/components/profile_card.css";


.student_search {
  width: 100%;
  /* margin-left: 2%;
  margin-right: 2%; */
  border: none;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin-top: 12px;
  padding: 0 8px 0;
  outline: none;
}

.student_img {
  grid-area: avatar;
  justify-self: center;
  align-self: start;
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 84px;
  height: 84px;
  margin-top: 12px;
  margin-right: 6px;
}

.student_name {
  grid-area: name;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Droid Sans", sans-serif;
}
.student_profile {
  grid-area: content;
  margin-left: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: small;
}

.expand-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  width: fit-content;
  background-color: lightgrey;
  border-radius: 4px;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
